<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-computation-heading">Create or edit a Computation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!computation.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="computation.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_identifier">Identifier</label>
                    <input type="text" class="form-control" name="identifier" id="field_identifier"
                        [(ngModel)]="computation.identifier" required maxlength="50"/>
                    <div [hidden]="!(editForm.controls.identifier?.dirty && editForm.controls.identifier?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.identifier?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.identifier?.errors?.maxlength">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="computation.name" required maxlength="50"/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.maxlength">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="computation.type" id="field_type" >
                        <option value="KYLIN_SQL">KYLIN_SQL</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="computation.status" id="field_status" >
                        <option value="DRAFT">DRAFT</option>
                        <option value="ACTIVE">ACTIVE</option>
                        <option value="ERROR">ERROR</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_remark">Remark</label>
                    <input type="text" class="form-control" name="remark" id="field_remark"
                        [(ngModel)]="computation.remark" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createTs">Create Ts</label>
                    <div class="d-flex">
                        <input id="field_createTs" type="datetime-local" class="form-control" name="createTs" [(ngModel)]="createTs"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updateTs">Update Ts</label>
                    <div class="d-flex">
                        <input id="field_updateTs" type="datetime-local" class="form-control" name="updateTs" [(ngModel)]="updateTs"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_computationGroupId">Computation Group Id</label>
                    <input type="number" class="form-control" name="computationGroupId" id="field_computationGroupId"
                        [(ngModel)]="computation.computationGroupId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_deleted">Deleted</label>
                    <input type="checkbox" class="form-control" name="deleted" id="field_deleted"
                        [(ngModel)]="computation.deleted" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
