<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dataSubProcessor">
            <h2><span>Data Sub Processor</span> {{dataSubProcessor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Data Processor Id</span></dt>
                <dd>
                    <span>{{dataSubProcessor.dataProcessorId}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{dataSubProcessor.name}}</span>
                </dd>
                <dt><span>Sequence</span></dt>
                <dd>
                    <span>{{dataSubProcessor.sequence}}</span>
                </dd>
                <dt><span>Data Processor Type</span></dt>
                <dd>
                    <span>{{dataSubProcessor.dataProcessorType}}</span>
                </dd>
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{dataSubProcessor.code}}</span>
                </dd>
                <dt><span>Output As Table</span></dt>
                <dd>
                    <span>{{dataSubProcessor.outputAsTable}}</span>
                </dd>
                <dt><span>Output As Object</span></dt>
                <dd>
                    <span>{{dataSubProcessor.outputAsObject}}</span>
                </dd>
                <dt><span>Output As Result</span></dt>
                <dd>
                    <span>{{dataSubProcessor.outputAsResult}}</span>
                </dd>
                <dt><span>Create Ts</span></dt>
                <dd>
                    <span>{{dataSubProcessor.createTs}}</span>
                </dd>
                <dt><span>Create By</span></dt>
                <dd>
                    <span>{{dataSubProcessor.createBy}}</span>
                </dd>
                <dt><span>Update Ts</span></dt>
                <dd>
                    <span>{{dataSubProcessor.updateTs}}</span>
                </dd>
                <dt><span>Update By</span></dt>
                <dd>
                    <span>{{dataSubProcessor.updateBy}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/data-sub-processor', dataSubProcessor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
