<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-data-processor-parameter-heading">Create or edit a Data Processor Parameter</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!dataProcessorParameter.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="dataProcessorParameter.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dataProcessorId">Data Processor Id</label>
                    <input type="number" class="form-control" name="dataProcessorId" id="field_dataProcessorId"
                        [(ngModel)]="dataProcessorParameter.dataProcessorId" required/>
                    <div [hidden]="!(editForm.controls.dataProcessorId?.dirty && editForm.controls.dataProcessorId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dataProcessorId?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.dataProcessorId?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_json">Json</label>
                    <textarea class="form-control" name="json" id="field_json"
                        [(ngModel)]="dataProcessorParameter.json" ></textarea>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
